{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      <img src="{{ site.baseurl }}/assets/images/web-images/masthead3.png" alt="masthead" width="48"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/ucp_.png" alt="masthead" width="70"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/linux.gif" alt="masthead" width="95"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/saynotoweb3.gif" alt="masthead" width="100"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/archlinux.gif" alt="masthead" width="95"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/button-vk.png" alt="masthead" width="95"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/htmldream.gif" alt="masthead" width="95"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/css.png" alt="masthead" width="95"  />
      <img src="{{ site.baseurl }}/assets/images/web-images/botao08.gif" alt="masthead" width="95"  />
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {%- if my_page.title == "/about" -%}
            <li><a href="{{ my_page.url | relative_url }}" class="bob">
              {{ my_page.title | escape }} <img src="/assets/images/web-images/face.gif" alt="masthead" width="12" />
            </a></li>
          {%- else -%}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
